* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    background: #201f21;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 25rem; 
    max-width: 90%;
    position: relative;
    margin: 0.9375rem; 
}

.input-box input {
    width: 100%;
    height: 3.75rem; 
    padding: 0 1.25rem; 
    border: 1px solid #ccc;
    outline: none;
    color: #fff;
    background: transparent;
}

button {
    background: transparent;
    border: 0;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: -1.5625rem; 
    transform: translateY(-50%);
    right: 0.9375rem; 
}

button img {
    width: 2.1875rem; 
}

#message {
    position: absolute;
    bottom: -1.875rem; 
    color: #fff;
    font-size: 0.9375rem; 
    display: none;
}

.fresh{
    margin-top: 3.75rem; 
}

#requirements {
    margin-bottom: 3.4375rem;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9375rem; 
}

::placeholder {
    font-size: 0.9375rem; 
}

.generate-button {
    font-size: 0.6875rem; 
    margin-bottom: 0.625rem; 
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.625rem; 
    cursor: pointer;
    border-radius: 0.3125rem; 
    width: 43%;
}

.generate-button:hover {
    background-color: #0056b3;
}

.show-password-container {
    color: #59a4f3;
    font-size: 0.75rem; 
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem; 
    height: 3.125rem; 
}

#showPassword {
    margin-right: 0.3125rem; 
}

.show-password-container input {
    margin-left: 3.125rem; 
}
